@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #929292;
	/*background-image:url(../images/background-image.jpg);	*/
}

/* CSS */

html, body{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	width: 100%;
}
	
@media only screen and (min-width: 100em){
html{
		font-size: 1.5em;
}
}

.main{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

main img{
	clear:both;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
    
/* Navigation Styles */
.nav{
	margin: 1rem 0 0 1rem;
	overflow: auto;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;	
	right: 5%;
	
	border-radius: 20px;
	background: #fff url('../images/nav-icon.svg') no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #ccc;
}

.nav-btn[data-state="active"] {
	background: #ccc url('../images/nav-close.svg') no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: #5A5A5A;
	text-decoration: none;
	/* border-width || border-style || border-color */
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: #000000;
}

	/* Toggle Nav*/

.nav-top{
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow:hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 14rem;
}


footer{
	clear: both;
}
@media only screen and (min-width: 20em){


.nav li{
	float: left;
	width: 25%;
}
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: none;
}

.nav-top{
	max-height: 40rem;
}

header{
	position:fixed;
	top:0;
	left:0;
	right:0;
}
}

@media only screen and (min-width: 27em){
.nav{
	background-color: #FFFFFF;
	text-align: center;
}

.nav li{
	display: inline-block;
	float: none;
	margin: 0;
	width:auto;
}
.nav ul{
	margin-top:10rem;
}
	
.nav a, 
.nav a:link,
.nav a:visited{
	border-top: 0;
	font-size: 100%;
}


h1{
	clear: both;
	width: auto;
	margin-left: 5%;
}

header{
	overflow: auto;
}

}

@media only screen and (min-width: 30em){
header{
	float: left;
	width: 23%;
	clear: left;
}

.main{
	float: right;
	width: 75%;
	margin-top: 50px;
	overflow: auto;
	clear: both;
}

.main h2,
.main p{
	margin-left: 10%	;
	}
.home img{
	float: right;
	width: 90%;
	margin: 0 0 2rem 1rem;
}

.nav-top{
	float: none;
	clear: both;
	background-color: #FFFFFF;
}

.nav-top li{
	display: block;
	margin-bottom:20px;
}

.nav a,
.nav a:link,
.nav a:visited{
	text-align: center;
}	
}

/* Homepage */

.copyright {
	margin-left:50%;
}
/* Works*/
#works, {
	padding: 4.5rem 20%;
	overflow: hidden;
}

.artwork {
	width: 30%;
	margin-right: 5%;
	float:left;
}
