/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 
/* Paul Irish's Padding Fix
http://paulirish.com/2012/box-sizing-border-box-ftw
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

 
 
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6, p,*/ blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset*/
@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #ede0c2;
}

/* CSS */

html, body{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	width: 100%;
	min-width: 20rem;
}
h1 {
	font-family:Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #bc6028;
	padding-bottom:1rem;
}
h2 {
	font-family:Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #c97c29;
}


@media only screen and (min-width: 100em){
html{
	font-size: 1.5em;
}
}

main{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

.main a{
	color: #bc6028;
	text-decoration:none;
}

.background p{
	line-height: 19px;
}
.main a:hover,
.main a:focus,
.main a:active{
	opacity:0.5;
}

main img{
	width:80%;
	float: left;
	max-height: 100rem;
	margin-left:10%;
}

/* Navigation Styles */
.nav{
	margin: 1rem 1rem 0 1rem;
	overflow: auto;
	background-color: #FFFFFF;
	text-align: center;
	border: solid 5px #FFFFFF;
	border-radius: 50px;
}

.nav a,
.nav a:link,
.nav a:visited{
	font-family:Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	padding: 1rem;
	text-align:center;
	text-decoration: none;
	font-size: 18px;
	color: #c97c29;
}


.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #bc6028;
	font-weight:500;
}

	/* Toggle Nav*/

.nav-top{
	overflow:hidden;
	clear:both;
	max-height: 10rem;
}

.nav li{
	float: left;
	width: 33%;
}
.nav a,
.nav a:link,
.nav a:visited{
	margin-top: .75rem;
}
.centre{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 4.5rem;
	margin-top:-1.5rem;
	margin-bottom:-1rem;
}
@media only screen and (min-width: 25em){
.centre{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 4.5rem;
	margin-bottom:-1rem;
}
}
.background{
	margin-bottom:2rem;
	width:100%;
	margin-top:0rem;
	float:left;
	clear:both;
	padding: 2rem;
	background-color: #FFF;
} 
.backgroundtitle{
	margin-bottom:1rem;
	width:100%;
	margin-top:1rem;
	float:left;
	clear:both;
	padding: 1rem;
	background-color: #FFF;
} 

footer{
	clear: both;
	margin-left:10px;
	color: #6e6a2c;
}
@media only screen and (min-width: 25em){

.backgroundtitle{
	margin-top:7rem;
} 

header{
	position:fixed;
	top:0;
	left:0;
	right:0;
}

footer{
	margin-left:20px;
}
}

@media only screen and (min-width: 35em){

header{
	float: left;
	width: 23%;
	clear: left;
	max-width:18rem;
	margin-left: .8%;
}

.main{
	float: right;
	width: 70%;
	margin-top: 15px;
	overflow: auto;
	clear: both;
}

.main h1,
.main h2,
.main p,
.main li{
	margin-left: 10%	;
	margin-bottom: 10px;
}

main img{
	margin-top: 0rem;
}

.background{
	width:100%;
	margin-top:0rem;
	float:left;
	clear:both;
	padding: 2rem;
	background-color: #FFF;
	margin-bottom: 2rem;
} 
.backgroundtitle{
	margin-bottom:1rem;
	margin-top:0rem;
} 

.nav li{
	display: inline-block;
	float: none;
	margin: 0;
	width:auto;
}

.nav-top{
	float: none;
	clear: both;
	background-color: #FFFFFF;
	max-height: 60rem;
	max-width: 12rem;
	margin:0 2% 0 2%;
}

.nav-top li{
	display: block;
	margin-bottom:20px;
}

.nav a, 
.nav a:link,
.nav a:visited{
	padding: .75rem;
}
.nav{
		margin: 1rem 0 0 2%;
}
}
@media only screen and (min-width: 45em){
.nav{
		margin: 1rem 5% 0 5%;
}
}

@media only screen and (min-width: 55em){
.nav{
		margin: 1rem 15% 0 15%;
}
}
/* Homepage */

/* Works*/
.artwork {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 1.5rem;
	float:left;
}
.artwork img:hover,
.artwork img:focus,
.artwork img:active{
	opacity: 0.5;
}
.artworkbox {
	clear:both;
}

.background2{
	margin-bottom:0rem;
	width:100%;
	margin-top:1rem;
	float:left;
	clear:both;
	padding: 1rem;
	background-color: #FFF;
} 
@media only screen and (min-width: 25em){
.artwork img {
	margin-top: 1rem;
}
.artwork p {
	margin-left: 10%;
	clear:both;
}
.artwork {
	width:90%;
}

@media only screen and (min-width: 35em){
.background2{
	margin-bottom:1.5rem;
	width:100%;
	margin-top:0rem;
	float:left;
	clear:both;
	padding: 1rem;
	background-color: #FFF;
} 
}

@media only screen and (min-width: 40em){

.artwork {
	width: 40%;
}
}

/* Not found */
.notfound {
	clear:both;
	margin-top: 5%;
}
.notfound-left{
	width: 40%;
	float:left;
	margin-left:10%;
	margin-top: 2rem;
	background-color: rgba(255,255,255,.5);
	border-radius:20px;
	padding: 1.5rem;
}
.notfound-right{
	width: 40%;
	float:right;
	margin-right:5%;
}
found h1{
	margin-top:10%;
}
.notfound p{
	margin-top: 10px;
}
.notfound a{
	text-decoration: none;
	color: #bc6028;
	size: 24px;
}
.notfound img{
	float:right;
	height:100%;
	position: absolute;
}