<!doctype html>
<html lang="en-ca">
	<head>
		<meta charset="UTF-8">
        <title>{% if page.title %}{{page.title}} · {% endif %}Mio Tahara's Portfolio - Japanese Graphic Designer - Ottawa Ontario</title>
		<link href="{{site.baseurl}}/portfolio.css" rel="stylesheet">
        <meta name="description" content="{{page.description}}">
        <meta name="keywords" content="designer, algonquin college, japan">
        <meta name="author" content="a student from Japan, who studies graphic design in Algonquin college, Ottawa, Ontario.">
        <meta name="copyright" content="Mio Tahara's portfolio">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">       
		<meta name="viewport" content="width=device-width,initial-scale=1" >
        <link rel="author" href="{{site.baseurl}}humans.txt">
	</head>
    
    	<div class="skip-links">
    	<a href="#main">Jump to main content</a>
    	</div>

<header role="banner">
		<nav class="nav nav-top" role="navigation">
                <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" class="centre" alt="feature logo"></a>
			<ul>
    			<li><a href="{{site.baseurl}}/">Home</a></li>
    			<li><a href="{{site.baseurl}}/works/">Works</a></li>
    			<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
			</ul>
		</nav>
	</header>
        <body class="home"> 
		<main class="main" role="main" id="main">
{{content}}
        </main>
        </body> 
    <footer>
        <p>Copyright © 2015</p>
    </footer>
</html>