<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/general.css" rel="stylesheet">
        <meta name="description" content="Information about Mio Tahara who is a designer from Algonquin College.">
        <meta name="keywords" content="designer, algonquin college, japan">
        <meta name="author" content="a student from Japan, who studies graphic design in Algonquin college.">
        <meta name="copyright" content="about Mio Tahara">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">       
		<meta name="viewport" content="width=device-width,initial-scale=1" >
        <link rel="author" href="humans.txt">
	</head>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
</head>

<body>
<header>
			<a href="#nav" class="nav-btn hide-text" data-state="inactive">Navigation</a>
			<nav class="nav nav-top" data-state="collapsed">
				<ul><li><img src="images/placeholder.jpg" alt="feature logo"></li>
    				<li><a href="{{site.baseurl}}/">Home</a></li>
    				<li><a href="{{site.baseurl}}/works/">Works</a></li>
    				<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
				</ul>
			</nav>
		</header>
<body class="home"> 
		<main class="main">

{{content}}
</main>
</body>
</html>