<!doctype html>
<html lang="en-ca">
	<head>
		<meta charset="UTF-8">
        <title>{% if page.title %}{{page.title}} · {% endif %}Mio Tahara's Portfolio - Japanese Graphic Designer - Ottawa Ontario</title>
		<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
        <meta name="description" content="Information about Mio Tahara who is a designer from Algonquin College.">
        <meta name="keywords" content="designer, algonquin college, japan">
        <meta name="author" content="a student from Japan, who studies graphic design in Algonquin college.">
        <meta name="copyright" content="about Mio Tahara">
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">       
		<meta name="viewport" content="width=device-width,initial-scale=1" >
        <link rel="author" href="humans.txt">
	</head>

<body>
<header>
			<nav class="nav nav-top">
				<ul><li><img src="{{site.baseurl}}/images/logo.svg" alt="Feature Logo"></li>
    				<li><a href="{{site.baseurl}}/">Home</a></li>
    				<li><a href="{{site.baseurl}}/works/">Works</a></li>
    				<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
				</ul>
			</nav>
		</header>
<body class="home"> 
		<main class="main">

{{content}}
</main>
</body>
<footer>
	<p>Copyright © 2015</p>
</footer>
</html>